.search-box {
  margin-bottom: 30px;
}
.search-box > input {
  background: #F5F6F7;
  border: 0;
  border-radius: 8px;
  font-size: 12px;
  width: 250px;
  padding: 8px 15px;
}
.search-box > input::placeholder {
  color: #C6C8CC;
}

.cities-list {
  width: 260px;
  font-size: 14px;
  color: #565D66;
  padding: 8px 10px;
  position: absolute;
  background: #FFFFFF;
}

.cities-list ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.cities-list ul li {
  margin: 0;
  padding: 5px;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-bottom: 1px solid #DEE0E2;
}

.cities-list ul li:last-of-type {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.cities-list ul li:hover {
  background: #F5F6F7;
}
