.entry-times {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  width: 63%;
  margin-left: 10px;
}

.entry-times > ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  list-style-image: none;
  display: flex;
  flex-direction: row;
}

.entry-times > ul li {
  color: #565D66;
  font-size: 14px;
  font-weight: 500;
  height: 32px;
  text-align: center;
  padding: 7px;
  width: 15px;
}

.entry-times > ul li.light-blue {
  background: #DFEDFD;
}

.entry-times > ul li.gray {
  background: #F5F6F7;
}

.entry-times > ul li.dark-blue {
  background: #343D47;
  color: #FFFFFF;
}

.entry-times > ul li.end {
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
}

.entry-times > ul li.start {
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  margin-left: 2px;
  padding: 7px 5px;
}

.entry-times > ul li.current-time {
  background: #F3CEBA;
  color: #565D66;
}

.entry-times > ul li > span {
  font-size: 10px;
}
