.entry-details {
  padding: 5px;
  width: 30%;
  font-size: 14px;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
}

.entry-details > span {
  background-color: #F5F6F7;
  border-radius: 50%;
  display: inline-block;
  font-weight: bold;
  height: 15px;
  margin-right: 10px;
  padding: 10px;
  text-align: center;
  width: 15px;
}

.entry-details__place > p, .entry-details__time > p {
  margin: 0;
}

.entry-details__time {
  margin-left: auto;
}

.entry-details__time > p {
  text-align: right;
}

.entry-details__place > .title, .entry-details__time > .title {
  color: #565D66;
  font-weight: bold;
}

.entry-details__place > .subtitle, .entry-details__time > .subtitle {
  color: #82878E;
  font-size: 12px;
}

